.container
{
    width: 200px;
    height: 300px;
    background-color: mediumseagreen;
    animation: glow 3s infinite alternate;
}

@keyframes glow
{
    0%{ transform: scale(0.7);}
    100%{ transform: scale(1.3);}
}

.container::after
{
    content: "";
    background-color: aqua;
    height: 50px;
    width: 50px;
}

.floating-box
{
    width: 100px;
    height: 100px;
    background-color: tomato;
    position: relative;
    animation-name: floating;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes floating
{
    0% {left:0px; top: 0px;}
    25% {left: 400px; top: 0px;}
    50% {left: 400px; top: 100px;}
    75% {left: 0px; top: 100px;}
    100% {left: 0px; top: 0px;}
}

img
{
    display: block;
    height: 100px;
    animation: fly 20s infinite;
    position: relative;
}

@keyframes fly
{
    0% {left:0px; top: 0px;}
    15% {left: 800px; top: 0px;}
    30% {left: 800px; top: 700px; rotate: 1080deg;}
    55% {left: 500px; top: -300px;}
    60% {left: 900px; top: -100px;}
    65% {left: 0px; top: -200px;}
    70% {left: 900px; top: -300px;}
    85% {left: 0px; top: 200px;}
    87% {left: 900px; top: 100px;}
    89% {left: 0px; top: 0px;}
    90% {left: 900px; top: -300px;}
    91% {left: 800px; top: 300px;}
    92% {left: 700px; top: -300px;}
    93% {left: 600px; top: 300px;}
    94% {left: 500px; top: -300px;}
    95% {left: 400px; top: 300px;}
    96% {left: 300px; top: -300px;}
    97% {left: 200px; top: 300px;}
    98% {left: 100px; top: -300px;}
    100% {left: 0px; top: 0px;}
}

